h1 {
  color: red;
  text-decoration: underline;
}

p {
  color: grey;
}

a {
  color: green;
  text-decoration: line-through blue;
}

h2 {
  font-weight: normal;
  text-shadow: 2px 2px 5px yellow;
}

h3 {
  text-shadow: 0 3px 5px green;
  text-decoration: underline dotted brown;
}

li {
  color: purple;
  text-decoration: underline;
}

b {
  color: yellow;
}

i {
  color: blue;
  font-weight: bold;
  text-decoration: line-through;
}
