h1 {
  color: red;
  font-family: Julius Sans One;
  font-size: 35px;
}

body {
  font-family: Roboto;
}

ol a {
  font-weight: bold;
}

ul li {
  font-family: Julius Sans One;
  line-height: 25px;
}

h3 {
  color: green;
  font-weight: bold;
  font-size: 28px;
}

h2 {
  font-family: Julius Sans One;
  font-size: 32px;
  color: purple;
  text-decoration: underline;
}

p {
  line-height: 23px;
}
